<h1> Showing article details </h1>
<p>  <strong>Title: </strong><%=@article.title%></p>
<p><strong>Description: </strong><%=@article.description%></p>
<!-- 
<% %>: Executes Ruby code but does not render its result to the view. Useful for logic and control flow.
<%= %>: Executes Ruby code and renders the result to the view. Useful for displaying data.
-->
